USE [master]
GO
/****** Object:  Database [World]    Script Date: 7/10/2015 9:01:06 AM ******/
CREATE DATABASE [World] ON  PRIMARY 
( NAME = N'World', FILENAME = N'D:\Work\Instructor\Material\DB\DB\World.mdf' , SIZE = 2048KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'World_log', FILENAME = N'D:\Work\Instructor\Material\DB\DB\World_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [World].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [World]
GO
/****** Object:  Table [dbo].[City]    Script Date: 7/10/2015 9:01:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[City](
	[ID] [int] NOT NULL,
	[Name] [char](35) NOT NULL,
	[CountryCode] [char](3) NOT NULL,
	[District] [char](20) NOT NULL,
	[Population] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Country]    Script Date: 7/10/2015 9:01:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Country](
	[Code] [char](3) NOT NULL,
	[Name] [char](52) NOT NULL,
	[Continent] [nvarchar](50) NOT NULL,
	[Region] [char](26) NOT NULL,
	[SurfaceArea] [float] NOT NULL,
	[IndepYear] [smallint] NULL,
	[Population] [int] NOT NULL,
	[LifeExpectancy] [float] NULL,
	[GNP] [float] NULL,
	[GNPOld] [float] NULL,
	[LocalName] [char](45) NOT NULL,
	[GovernmentForm] [char](45) NOT NULL,
	[HeadOfState] [char](60) NULL,
	[Capital] [int] NULL,
	[Code2] [char](2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CountryLanguage]    Script Date: 7/10/2015 9:01:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CountryLanguage](
	[CountryCode] [char](3) NOT NULL,
	[Language] [char](30) NOT NULL,
	[IsOfficial] [bit] NOT NULL,
	[Percentage] [float] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CountryCode] ASC,
	[Language] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[City] ([ID], [Name], [CountryCode], [District], [Population]) VALUES (1, N'Kabul                              ', N'AFG', N'Kabol               ', 1780000)
INSERT [dbo].[City] ([ID], [Name], [CountryCode], [District], [Population]) VALUES (7, N'Haag                               ', N'NLD', N'Zuid-Holland        ', 440900)
INSERT [dbo].[City] ([ID], [Name], [CountryCode], [District], [Population]) VALUES (8, N'Utrecht                            ', N'NLD', N'Utrecht             ', 234323)
GO
INSERT [dbo].[Country] ([Code], [Name], [Continent], [Region], [SurfaceArea], [IndepYear], [Population], [LifeExpectancy], [GNP], [GNPOld], [LocalName], [GovernmentForm], [HeadOfState], [Capital], [Code2]) VALUES (N'ABW', N'Aruba                                               ', N'North America', N'Caribbean                 ', 193, NULL, 103000, 78.4, 828, 793, N'Aruba                                        ', N'Nonmetropolitan Territory of The Netherlands ', N'Beatrix                                                     ', 129, N'AW')
INSERT [dbo].[Country] ([Code], [Name], [Continent], [Region], [SurfaceArea], [IndepYear], [Population], [LifeExpectancy], [GNP], [GNPOld], [LocalName], [GovernmentForm], [HeadOfState], [Capital], [Code2]) VALUES (N'AFG', N'Afghanistan                                         ', N'Asia', N'Southern and Central Asia ', 652090, 1919, 22720000, 45.9, 5976, NULL, N'Afganistan/Afqanestan                        ', N'Islamic Emirate                              ', N'Mohammad Omar                                               ', 1, N'AF')
INSERT [dbo].[Country] ([Code], [Name], [Continent], [Region], [SurfaceArea], [IndepYear], [Population], [LifeExpectancy], [GNP], [GNPOld], [LocalName], [GovernmentForm], [HeadOfState], [Capital], [Code2]) VALUES (N'AGO', N'Angola                                              ', N'Africa', N'Central Africa            ', 1246700, 1975, 12878000, 38.3, 6648, 7984, N'Angola                                       ', N'Republic                                     ', N'José Eduardo dos Santos                                     ', 56, N'AO')
GO
INSERT [dbo].[CountryLanguage] ([CountryCode], [Language], [IsOfficial], [Percentage]) VALUES (N'ABW', N'Dutch                         ', 1, 5.3)
INSERT [dbo].[CountryLanguage] ([CountryCode], [Language], [IsOfficial], [Percentage]) VALUES (N'ABW', N'English                       ', 0, 9.5)
INSERT [dbo].[CountryLanguage] ([CountryCode], [Language], [IsOfficial], [Percentage]) VALUES (N'ABW', N'Papiamento                    ', 0, 76.7)
GO
ALTER TABLE [dbo].[City] ADD  DEFAULT ('') FOR [Name]
GO
ALTER TABLE [dbo].[City] ADD  DEFAULT ('') FOR [CountryCode]
GO
ALTER TABLE [dbo].[City] ADD  DEFAULT ('') FOR [District]
GO
ALTER TABLE [dbo].[City] ADD  DEFAULT ('0') FOR [Population]
GO
ALTER TABLE [dbo].[Country] ADD  DEFAULT ('') FOR [Code]
GO
ALTER TABLE [dbo].[Country] ADD  DEFAULT ('') FOR [Name]
GO
ALTER TABLE [dbo].[Country] ADD  DEFAULT ('Asia') FOR [Continent]
GO
ALTER TABLE [dbo].[Country] ADD  DEFAULT ('') FOR [Region]
GO
ALTER TABLE [dbo].[Country] ADD  DEFAULT ('0.00') FOR [SurfaceArea]
GO
ALTER TABLE [dbo].[Country] ADD  DEFAULT (NULL) FOR [IndepYear]
GO
ALTER TABLE [dbo].[Country] ADD  DEFAULT ('0') FOR [Population]
GO
ALTER TABLE [dbo].[Country] ADD  DEFAULT (NULL) FOR [LifeExpectancy]
GO
ALTER TABLE [dbo].[Country] ADD  DEFAULT (NULL) FOR [GNP]
GO
ALTER TABLE [dbo].[Country] ADD  DEFAULT (NULL) FOR [GNPOld]
GO
ALTER TABLE [dbo].[Country] ADD  DEFAULT ('') FOR [LocalName]
GO
ALTER TABLE [dbo].[Country] ADD  DEFAULT ('') FOR [GovernmentForm]
GO
ALTER TABLE [dbo].[Country] ADD  DEFAULT (NULL) FOR [HeadOfState]
GO
ALTER TABLE [dbo].[Country] ADD  DEFAULT (NULL) FOR [Capital]
GO
ALTER TABLE [dbo].[Country] ADD  DEFAULT ('') FOR [Code2]
GO
ALTER TABLE [dbo].[CountryLanguage] ADD  DEFAULT ('') FOR [CountryCode]
GO
ALTER TABLE [dbo].[CountryLanguage] ADD  DEFAULT ('') FOR [Language]
GO
ALTER TABLE [dbo].[CountryLanguage] ADD  DEFAULT ('F') FOR [IsOfficial]
GO
ALTER TABLE [dbo].[CountryLanguage] ADD  DEFAULT ('0.0') FOR [Percentage]
GO
ALTER TABLE [dbo].[City]  WITH CHECK ADD  CONSTRAINT [FK_City_Country1] FOREIGN KEY([CountryCode])
REFERENCES [dbo].[Country] ([Code])
GO
ALTER TABLE [dbo].[City] CHECK CONSTRAINT [FK_City_Country1]
GO
ALTER TABLE [dbo].[CountryLanguage]  WITH CHECK ADD  CONSTRAINT [countryLanguage_ibfk_1] FOREIGN KEY([CountryCode])
REFERENCES [dbo].[Country] ([Code])
GO
ALTER TABLE [dbo].[CountryLanguage] CHECK CONSTRAINT [countryLanguage_ibfk_1]
GO
USE [master]
GO
